@model IEnumerable<Student>;
@{
    Layout = "_Layout";
    ViewBag.title = " student Index";
}


    <div class="d-grid gap-2  my-1">
        <a class="btn btn-primary" href="/student/create">Add Student</a>

    </div>
    <table class="table table-bordered table-hover">
        <thead>

            <tr>
                <td> ID</td>
                <td> NAME</td>
                <td>Email</td>
                <td>Age</td>
                <td>dept name</td>
                <td>details</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            @foreach (Student s in Model)
            {    <tr>
                    <td>@s.Id</td>
                    <td>@s.Name</td>
                    <td>@s.Email</td>
                    <td>@s.Age</td>
                    <td>@s.Department?.DeptName</td>
                    <td>
                        <button type="button" class="btn btn-primary" onclick="display(@s.Id)" data-bs-toggle="modal" data-bs-target="#exampleModal">
Details                        </button>
                      
                   </td>
                    <td>
                        <a asp-controller="Student" asp-action="edit" asp-route-id="@s.Id" class="btn btn-success">Edit</a>
                    </td>
                    <td>

                        <a asp-controller="Student" asp-action="delete" asp-route-id="@s.Id" class="btn btn-danger">Delete</a>

                    </td>
                </tr>
            }
        </tbody>


    </table>
    <div id="display"
    ></div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        function display(id) {
            $("#display").load("/student/details/" + id)
        }

    </script> 
